@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root{
    --primary: #3B95FF;
}

.btn
{
    text-transform: uppercase;
    overflow: hidden;
    font-family: 'Epilouge', sans-serif;
    letter-spacing: 0.045rem;
padding: 15px; 
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 20px;
color: white;
cursor: pointer;
width: auto;

/* Blue/Blue Highlight */

border: 2px solid var(--primary);
box-sizing: border-box;
border-radius: 8px;

/* Inside Auto Layout */
margin: 20px 0px;
}
 
.btn--primary{
    background: none;
}

.btn--primary:hover{
    background: var(--primary);
    color: white;
    transition: all 150ms ease-in-out;
}

@media screen and (max-width: 960px) {
    .btn{
        font-size: 1rem;
        line-height:  0.75rem;
        width: auto;
    }
}

