@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

.cards
{
    margin-top: 200px;
}

li{
    list-style-type: none;
}

.card_container{
    font-family: 'DM Sans', sans-serif;
    width: fit-content;
    margin: 0 auto;
}
