@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.card_items_container{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.work_title{
    margin-top: 50px;
}

.work_title > h1{
    font-family: 'Inter';
    font-weight: 900;
}

.title_ender {
    position: relative;
    top: -20px;
    left: 4px;
}

.global_cards
{
    display : grid;
    grid-template-columns: 560px 560px;
    grid-column-gap: 20px;
    width: fit-content;
    margin: 0 auto !important;
}

.work_card
{
    font-family: 'Inter';
    max-width: 600px;
    background: #202020;
    padding: 20px;
    margin-bottom: 50px;
    border-radius: 8px;
    box-shadow: 0 0 20px 2px rgb(8, 8, 8);
}

.work_card > h1{
    font-weight: 500;
    font-size: 2rem;
    letter-spacing: -.0025;
}

.work_card > p{
    font-weight: 300;
    font-size: 1.2rem;
    letter-spacing: 0.01em;

}

.image_holder{
    width: 100%;
    border-radius: 8px;
}

.arrow
{
    position: relative;
    left: -20px;
    width: 0;
    opacity: 0;
    transition: 150ms ease-in-out;
}

.btn{
    transition: all 150ms ease-in-out;
}

.btn:hover .arrow
{
    left: 5px;
    width: 6.6px;
    opacity: 100%;
}

p{
    font-size: 1.5rem;
    font-style: normal;
font-weight: lighter;
font-size: 16px;
line-height: 24px;
letter-spacing: 0/0045rem;
/* identical to box height, or 133% */

letter-spacing: 0.0025em;
}


@media screen and (max-width: 1200px) {
    
    .global_cards
{
    display : grid;
    grid-template-columns: 400px 400px;
    grid-column-gap: 20px;
    width: fit-content;
    margin: 0 auto !important;
}

@media screen and (max-width: 960px) {
    .work_card > p{
        font-size: 14px;
    }
}
   
}

@media screen and (max-width: 880px) {
    
    .global_cards
{
    display : flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    margin: 0 auto !important;
}

.work_card > h1 {
    font-size: 24px;
}
.work_card > p {
    font-size: 12px;
}
   
}

@media screen and (max-width: 60px) {
    .work_card
    {
        max-width: 400px;
    margin-bottom: 50px;
    }
    
}

@media screen and (max-width: 400px) {
    .work_card
    {
        max-width: 300px;
    margin-bottom: 50px;
    }
    
}

