@font-face {
    font-family: lab-blold;
    src: url(../Assets/Lab\ Grotesque/LabGrotesque-Bold.ttf);
}

@font-face {
    font-family: lab-light;
    src: url(../Assets/Lab\ Grotesque/LabGrotesque-Light.ttf);
}

@font-face {
    font-family: lab-regular;
    src: url(../Assets/Lab\ Grotesque/LabGrotesque-Regular.ttf);
}


.cards
{
    margin-top: 100px;
}

li{
    list-style-type: none;
}

.card_container{
    font-family: 'lab-regular';
    width: fit-content;
    margin: 0 auto;
}
