@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.company_container{
    justify-content: space-around;
    display: flex;
    flex: row;
}

.img_container
{
    display: flex;
    justify-content: center;
    background: #202020;
    border-radius: 8px;
    width: 160px; height: 160px;
    margin-right: 20px;
}

.image-1{
    width: 40%;
    margin: auto auto;
    align-self: flex-start;
}


.company_details
{
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.company_details > h1{
    font-size: 32px;
    margin: 0;
}

.desig{
    margin: 10px auto;
    font-size: 24px;
}

.company_container:hover .divider{
    width: 100%;
}

.divider
{
    
    height: 4px; width: 80px;
    background: #3C95FF;
    transition: all 150ms ease-in-out;
}

.duration{
    margin-top: 10px;
    font-size: 16px;
}

@media screen and (max-width: 1200px) {
    .img_container
{
    display: flex;
    justify-content: center;
    background: #202020;
    border-radius: 8px;
    width: 100px; height: 100px;
    margin-right: 20px;
}

.image-1{
    width: 40%;
    margin: auto auto;
    align-self: flex-start;
}

    .company_details > h1{
    font-size: 24px;
    margin: 0;
    }

    .desig{
        margin: 10px auto;
        font-size: 20px;
    }

}

@media screen and (max-width: 600px){
    .img_container
    {
        display: flex;
        justify-content: center;
        background: #202020;
        border-radius: 8px;
        width: auto; height: 60px;
        margin-right: 20px;
    }
    .image-1{
        width: 30%;
        margin: auto auto;
        align-self: flex-start;
    }

    .company_details > h1{
        font-size: 16px;
        margin: 0;
        }
    
        .desig{
            margin: 10px auto;
            font-size: 14px;
        }
}