@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.work_title
{
    font-family: 'Inter', sans-serif;
    font-style: normal;
font-weight: 600;
font-size: 64px;
line-height: 72px;
letter-spacing: 0.03rem;
/* identical to box height, or 112% */ 
margin-bottom: 4rem;
color: #FFFFFF;
}


.experience_container{
    width: fit-content;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin: 0 auto;
}
 

.title_ender {
    position: relative;
    top: -20px;
    left: 4px;
}

.timeline{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
}

.year
{
    font-size: 32px;
    font-weight: 800;
    background: #202020;
    width: fit-content;
    height: fit-content;
    padding: 15px 15px;
    border-radius: 8px;
}

.timeline_img{
    margin-top: 50px;
    max-width: 1150px;
}

.timeline_second{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media screen and (max-width: 1200px) {
    .experience_container
    {
        width: 70%;
    }

    .timeline_img{
        margin-top: 25px;
        max-width: 1150px;
    }

    .year{
        font-size: 20px;
    }

}

@media screen and (max-width: 630px) {
    .work_title
{
    font-style: normal;
font-weight: bold;
font-size: 32px;
line-height: 72px;
/* identical to box height, or 112% */ 
margin-bottom: 4rem;
color: #FFFFFF;
}

.title_ender
{
    width: 10%;
}

.year{
    padding: 8px 8px;
    font-size: 14px;
}
}

@media screen and (max-width: 400px){
    .year{

        padding: 8px 8px;
        font-size: 14px;
    }
    .title_ender {
        width: 10%;
    }
    .work_title{
        margin-bottom: 2rem;
    }
}