@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');



.footer_button{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: none;
    letter-spacing: 0.045rem;
    cursor: pointer;
    width: 240px;
    margin-bottom: 30px;
    background:#fff;
    color: #131313;
    border: 1px solid #131313;
}

.footer_button:hover{
    background: #131313;
    color: #fff;
}



.icon
{
    filter: invert(0);
    max-width: 90%;
    margin-right: 20px;
}

.footer_button:hover > .icon
{
    filter: invert(1);
} 

a{
    text-decoration: none;
}

@media screen and (max-width: 400px) {
    .footer_button{
        font-size: 14px;
        width: 200px;
    }
}