@import 
url('https://fonts.googleapis.com/css2?family=Sora&display=swap');


.footer{
    font-family: 'DM Sans', sans-serif;
    background: #3C95FF;   
    padding: 150px;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer_text
{
    display: flex;
    flex-direction: column;
}

.footer_text > h1{
    font-size: 4rem;
}

.footer_text > p {
    margin-top: 10px;
    font-size: 1rem;
}

.footer_ending{
    padding: 20px;
    background: white;
}

.footer_ending p{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    /* padding: 15px; */
    color: #131313;
    font-family: "circular";
    font-weight: lighter;
    font-size: 18px;
    text-align: center;
}

@media screen and (max-width: 1200px) {
        .footer{
            display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 100px;
        }

        .footer_text > h1{
            font-size: 56px;
        }
        
        .footer_text > p {
            margin-top: 10px;
            font-size: 18px;
            margin-bottom: 4rem;
        }
}

@media screen and (max-width: 500px) {
    .footer{
        display: flex;
flex-direction: column;
justify-content: space-around;
padding: 60px;
    }

    .footer_text > h1{
        font-size: 36px;
    }
    
    .footer_text > p {
        margin-top: 10px;
        font-size: 14px;
        margin-bottom: 4rem;
    }
}
