@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

.realm
{
    align-items: center;
}

h1{
    margin: 0;
}

.animation{
    width: fit-content;
}

.align{
    font-family: 'Outfit';
    display: flex;
    flex-direction: row;
    width: fit-content;
    margin: 0 auto;
    align-items: center;
    text-align: center;
}

.align > h1{
    font-weight: 400;
    letter-spacing: 0.0025rem;
}

@media screen and (max-width: 880px) {
    .align
    {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 760px) {
    .align
    {
        display: flex;
        flex-direction: column;
    }

    h1{
        font-size: 24px;
    }
}